<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Project matna</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <script src="https://kit.fontawesome.com/1d024c92f4.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='./css/style.css') }}">
  </head>
  <body>
    <section class="section">
        <div class="container">
        <h1 class="title">
            Project matna
        </h1>
        </div>
    </section>

    <section class="login-section">
        <button class="button is-black login">로그인</button>
        <button class="button is-light signup">회원가입</button>
    </section>

    <div class="modal">
        <div class="modal-background"></div>
        <div class="modal-content">
            <div class="field">
                <p class="control has-icons-left has-icons-right">
                  <input class="input login-email" type="email" placeholder="이메일">
                  <span class="icon is-small is-left">
                    <i class="fas fa-envelope"></i>
                  </span>
                  <span class="icon is-small is-right">
                    <i class="fas fa-check"></i>
                  </span>
                </p>
              </div>
              <div class="field">
                <p class="control has-icons-left">
                  <input class="input login-password" type="password" placeholder="패스워드">
                  <span class="icon is-small is-left">
                    <i class="fas fa-lock"></i>
                  </span>
                </p>
              </div>
              <div class="field">
                <p class="control">
                  <button class="button is-success login-button">
                    로그인
                  </button>
                </p>
            </div>
        </div>
        <button class="modal-close is-large" aria-label="close"></button>
    </div>

    <div class="modal">
      <div class="modal-background"></div>
      <div class="modal-content">
          <div class="field">
              <p class="control has-icons-left">
                <input class="input signup-name" type="name" placeholder="이름">
                <span class="icon is-small is-left">
                  <i class="fas fa-signature"></i>
                </span>
              </p>
            </div>
          <div class="field">
              <p class="control has-icons-left has-icons-right">
                <input class="input signup-email" type="email" placeholder="이메일">
                <span class="icon is-small is-left">
                  <i class="fas fa-envelope"></i>
                </span>
                <span class="icon is-small is-right">
                  <i class="fas fa-check"></i>
                </span>
              </p>
            </div>
            <div class="field">
              <p class="control has-icons-left">
                <input class="input signup-password" type="password" placeholder="패스워드">
                <span class="icon is-small is-left">
                  <i class="fas fa-lock"></i>
                </span>
              </p>
            </div>
            <div class="field">
              <p class="control">
                <button class="button is-success signup-button">
                  회원가입
                </button>
              </p>
          </div>
      </div>
      <button class="modal-close is-large" aria-label="close"></button>
    </div>

    <div class="columns">
      <div class="column">
        <div class="card">
          <header class="card-header">
            <p class="card-header-title">
              <i style="color: green; margin-right: 10px;" class="fas fa-circle"></i>
              <span class="gathering-status">모집중</span>
              <span class="participants-status" title="참가자: 조은우">1/3</span>
              <span class="meeting-time">12:00</span>
            </p>
            <button class="button is-black participate">참여하기</button>
          </header>
          <div class="card-image">
            <figure class="image is-4by3">
              <img src="restaurant_1.jpeg" alt="Placeholder image">
            </figure>
          </div>
          <div class="card-content">
            <div class="media">
              <div class="media-content">
                <p class="title is-4">한우곰탕</p>
              </div>
            </div>
            <div class="content">
              <i class="fas fa-thumbs-up"></i>
              <span class="like-count">11</span>
            </div>
          </div>
        </div>
      </div>

      <div class="column">
        <div class="card">
          <header class="card-header">
            <p class="card-header-title">
              <i style="color: red; margin-right: 10px;" class="fas fa-circle"></i>
              <span class="gathering-status">모집없음</span>
            </p>
            <button class="button is-black gather">모집하기</button>
          </header>
          <div class="card-image">
            <figure class="image is-4by3">
              <img src="restaurant_2.jpeg" alt="Placeholder image">
            </figure>
          </div>
          <div class="card-content">
            <div class="media">
              <div class="media-content">
                <p class="title is-4">슬로우브레드</p>
              </div>
            </div>
            <div class="content">
              <i class="fas fa-thumbs-up"></i>
              <span class="like-count">7</span>
            </div>
          </div>
        </div>
      </div>

      <div class="column">
        <div class="card">
          <header class="card-header">
            <p class="card-header-title">
              <i style="color: red; margin-right: 10px;" class="fas fa-circle"></i>
              <span class="gathering-status">모집없음</span>
            </p>
            <button class="button is-black gather">모집하기</button>
          </header>
          <div class="card-image">
            <figure class="image is-4by3">
              <img src="restaurant_3.png" alt="Placeholder image">
            </figure>
          </div>
          <div class="card-content">
            <div class="media">
              <div class="media-content">
                <p class="title is-4">우촌면옥</p>
              </div>
            </div>
            <div class="content">
              <i class="fas fa-thumbs-up"></i>
              <span class="like-count">3</span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="modal gathering-form">
      <div class="modal-background"></div>
      <div class="modal-content">
        <div class="field">
          <p class="control has-icons-left has-icons-right">
            <input class="input" type="number" placeholder="인원 수">
            <span class="icon is-small is-left">
              <i class="fas fa-users"></i>
            </span>
          </p>
        </div>

        <div class="dropdown">
          <div class="dropdown-trigger">
            <button style="margin: 0px; width: 150px" class="button" aria-haspopup="true" aria-controls="dropdown-menu">
              <span>모임 시간</span>
              <span class="icon is-small">
                <i class="fas fa-angle-down" aria-hidden="true"></i>
              </span>
            </button>
          </div>
          <div class="dropdown-menu" id="dropdown-menu" role="menu">
            <div class="dropdown-content">
              <a href="#" class="dropdown-item">
                5분 뒤
              </a>
              <a class="dropdown-item">
                10분 뒤
              </a>
              <a href="#" class="dropdown-item">
                15분 뒤
              </a>
              <a href="#" class="dropdown-item">
                20분 뒤
              </a>
              <a href="#" class="dropdown-item">
                25분 뒤
              </a>
              <a class="dropdown-item">
                30분 뒤
              </a>
              <a href="#" class="dropdown-item">
                35분 뒤
              </a>
              <a href="#" class="dropdown-item">
                40분 뒤
              </a>
              <a href="#" class="dropdown-item">
                45분 뒤
              </a>
              <a class="dropdown-item">
                50분 뒤
              </a>
              <a href="#" class="dropdown-item">
                55분 뒤
              </a>
              <a href="#" class="dropdown-item">
                60분 뒤
              </a>
            </div>
          </div>
        </div>
         
            <div class="field">
              <p class="control">
                <button class="button is-success make-gather">
                  만들기
                </button>
              </p>
          </div>
      </div>
      <button class="modal-close is-large gathering-form-close" aria-label="close"></button>
    </div>

    <script src="{{ url_for('static',filename='./jquery/script.js') }}"></script>
  </body>
</html>